.git
.github
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
.venv
.env
.env.*
!.env.example
output
web/frontend/node_modules
web/frontend/dist
*.md
!README.md
.DS_Store
memory
**/*.egg-info
dist
build
